* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(39,39,39);
    touch-action: manipulation;
}

header {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    color: white;
    
    position: fixed;
}

#header-logo {
    height: 38px;
    padding-right: 5px;
    margin-top: -5px;
}

.logo-container {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
}

.options-container {
    display: flex;
    padding-right: 10px;
    align-items: center;
}
.options-container button {
    all: unset;
    padding-inline: 20px;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}
.result-display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    max-width: 500px;
    width: 45vw;
    min-width: 310px;
    min-height: 80px;
    height: auto;
    word-wrap: break-word;
    
}
.previous-input {
    color: #8b8b8b;
    justify-self: flex-start;
}

.current-input {
    color: #00c9ea;
    font-size: 2rem;
    font-weight: lighter;
    padding-bottom: 20px;
    align-self: flex-end;
}

.simple-calc-page {
    min-height: 100vh;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap-reverse;
    background-color: rgb(26, 26, 26);
}

.calculaor-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 80px);
    
}

.calculator-button {
    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.034);
    cursor: pointer;
    color: white;
}

.calculator-button:hover {
    background-color: rgba(255, 255, 255, 0.486);
}
.span-two {
    grid-column: span 2;
}

.operation-button {
    background-color: #00c9ea;
    cursor: pointer;
}
.operation-button:hover {
    background-color: #64eaff;
}


.calculator-grid button {
    padding: 2px;
    border: 1px solid rgb(39,39,39);
    font-size: 2.5rem;
}

#history-table {
    width: 230px;
    height: 371px;
    align-self: center;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}

.history-row {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #EEEEEE;
    
}
.history-row:last-child{
    border-bottom: none;
}

.history-equation {
    justify-self: flex-start;
    font-size: large;
    color: #8b8b8b;
    text-align: end;
    
}
.history-result {
    text-align: end;
    color: #00c9ea;
}



@media (max-width: 500px) {
    .history-row:nth-child(n+4){
        display: none;
    }
    .history-row:first-child {
        border-bottom: none;
    }
    .history-row:last-child:not(:only-child) {
        border-bottom: 1px solid #EEEEEE;
    }

    .calculator-grid{
        grid-template-rows: repeat(5, 60px);
        grid-template-columns: repeat(4, 27%);
        margin-left: -9%;
    }
    .calculator-grid button {
        font-size: 2rem;
    }
    #history-table {
        flex-direction: column-reverse;
        height: 185px;
    }
   
    .options-container button {
        font-size: 1rem;
        padding-inline: 5px;
    }
    .options-container  {  
        padding-bottom: 5px;
    }
    .logo-container h1 {
        font-size: 1rem;
    }
    #header-logo{
        height: 20px;
    }
    .simple-calc-page {
        padding-top: 40px;
    }
    .current-input {
        font-size: 1.6rem;
    }

    @media (max-height: 600px){
        .calculator-grid{
            grid-template-rows: repeat(5, 50px);
            grid-template-columns: repeat(4, 25%);
            margin-left: unset;
        }
        .calculator-grid button {
            font-size: 1.5rem;
        }
        .history-row:nth-child(n+3) {
            display: none;
        }
        .simple-calc-page {
            padding-top: 0px;
        }
    }
}
.scientific-calculator-page{
    height: 100vh;
    background-color: rgb(39,39,39);
    display: flex;
    align-items: center;
    justify-content: center;
}

.scientific-grid {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(5, 80px);
    
}

.sc-current-input {
    color: #EEEEEE;
}
.sc-previous-input{
    color: #00c9ea;
}

.scientific-calculator-display{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}